h1 {
  text-align: center;
  color: darkblue;
  padding-top: 1%;
}

#cookie {
  display: flex;
  padding-left: 1%;
}

#cookie img {
  border-radius: 10%;
}

#table #ingredients-header {
  padding: 0;
  font-weight: bold;
}

tbody {
  display: block;
  padding-left: 8%;
}
